.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  .slider-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 300px;
    min-width: 300px;
  }

  .slider-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
