@import '@/assets/styles/variables';

.technology-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    display: none;
  }

  .background-pattern {
    background-color: #f5f5f5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at top right, rgba(66, 255, 123, 0.301), transparent 60%),
                radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.1), transparent 60%);
    z-index: 2;
  }

  .icon-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgba($dark-bg, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .icon {
      width: 40px;
      height: 40px;
      color: white;
    }
  }

  .action-button {
    position: absolute;
    z-index: 3;
    bottom: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    .action-icon {
      width: 16px;
      height: 16px;
    }
  }
}

.banner {
  display: inline-block;
  animation: scroll 50s linear infinite;

  &-item {
    padding: 0 0.2em;
    display: inline-block;
    white-space: nowrap;

    @media (max-width: 1024px) {
      padding: 0 0.5em;
    }
  }
}

.diagonal-scroller {
  z-index: 1;
  white-space: nowrap;
  color: #85aba8;
  position: absolute;
  letter-spacing: 2px;
  font-size: 1.5em;
  display: inline-flex;

  svg {
    rotate: 90deg;
    width: 64px;
    height: 64px;
    background: rgba($dark-bg, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 8px;
  }

  &.chunk-1 {
    top: 87px;
    left: -640px;
    transform: rotate(-55deg);
  }

  &.chunk-2 {
    top: 64px;
    left: -520px;
    transform: rotate(-55deg);
  }

  &.chunk-3 {
    top: 111px;
    left: -450px;
    transform: rotate(-55deg);
  }

  @media (max-width: 1024px) {
    &.chunk-1 {
      top: 10px;
      left: -480px;
      transform: rotate(-30deg);
    }

    &.chunk-2 {
      top: 10px;
      left: -305px;
      transform: rotate(-30deg);
    }

    &.chunk-3 {
      top: 10px;
      left: -140px;
      transform: rotate(-30deg);
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-start {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-second {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
