.blockquote {
    position: relative;

    p {
        font-family: "Utopia-italic";
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        margin-top: 90px;
    }

    & .svg {
        display: block;
        position: absolute;
        font-family: 'FontAwesome';
        top: -50px;
        right: -20px;
        width: 32px;
        height: 32px;
    }

    &::after {
        content: "";
        top: -40px;
        left: 50%;
        margin-left: -90px;
        position: absolute;
        border-bottom: 3px solid #bf0024;
        height: 3px;
        width: 180px;
    }
}